
    <div class="row custom-row">
        <div class= "col-sm-3">
            <div class="panel panel-default test">
                <!-- Default panel contents -->
                <div class="panel-heading" style="position: static">Products</div>

                <!-- List group -->
                <ul class="list-group sidebar">
                    <li ng-repeat="product in products" class="list-group-item product">{{product}}</li>
                </ul>
            </div>
    </div>


        <div class="col-sm-9" style="padding-left: 30px;">
            <div class="panel panel-default rounded" ng-repeat="idea in ideas">
                <div class="panel-heading custom-heading rounded-top">
                    <div class="progress rounded-top" ng-class="{noColor: percent == 'NaN%'}">
                        <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{width: percent}">
                        </div>
                        <div class="progress-bar progress-bar-danger noColor" role="progressbar">
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <h2>{{idea.title}}</h2>

                    <p>
                        {{idea.description}}
                    </p>

                    <button type="button" class="btn btn-success" ng-click="liked()">
                        <i class="fa fa-thumbs-up fa-2x"></i>
                    </button>

                    Likes:{{likes}}

                    <button type="button" class="btn btn-danger" ng-click="disliked()">
                        <i class="fa fa-thumbs-down fa-2x"></i>
                    </button>

                    Dislikes:{{dislikes}}

                    <br/>
                    <br/>
                    <hr/>

                    <button class="btn btn-default" ng-click="toggleComments()" ng-show="commentFlag == 0">Show Comments</button>
                    <button class="btn btn-default" ng-click="toggleComments()" ng-hide="commentFlag == 0">Hide Comments</button>
                    <div class="comments" ng-repeat="eachComment in comments" ng-hide="commentFlag == 0">
                        <h4>{{eachComment.user}}</h4>
                        <div class="comment shadow">
                            {{eachComment.comment}}
                        </div>
                    </div>


                </div>

                <div class="panel-footer rounded-bottom">
                    <div class="input-group rounded-bottom">
                        <input class="form-control" placeholder="Add a comment" type="text" ng-model="newComment.comment">
                            <span class="input-group-addon">
                                <a ng-click="addComment()"><i class="fa fa-edit"></i></a>
                            </span>
                    </div>
                </div>

                </div>




    </div>
    </div>


