<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">This is the best idea ever</h3>
        </div>
        <div class="panel-body">
            <div class="progress" ng-class="{noColor: percent == 'NaN%'}">
                <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{width: percent}">
                </div>
                <div class="progress-bar progress-bar-danger noColor" role="progressbar">
                </div>
            </div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis purus eu mollis porta. Sed sed laoreet dui, a suscipit urna. Quisque facilisis purus sed nulla condimentum, nec malesuada nibh placerat. Integer ultrices pulvinar libero auctor hendrerit. Praesent varius tempus lobortis. Mauris tempor magna nunc, ac varius erat vulputate non. Mauris semper tortor consectetur leo fermentum mattis. Suspendisse vitae faucibus justo. Aliquam vitae dignissim nibh, eu sodales eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed interdum diam sapien. Mauris tempus tellus et tincidunt pulvinar. Duis vel elementum lacus, ut sodales metus. Proin elementum erat in imperdiet ultricies. Etiam in est et felis dictum dignissim.

                Nullam rhoncus placerat tortor nec interdum. Nulla sodales pulvinar sagittis. Duis id metus arcu. Fusce tristique, felis vel pulvinar finibus, arcu augue varius diam, non varius libero felis nec augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam molestie lorem vitae tellus bibendum, sit amet bibendum massa porta. Maecenas vehicula blandit metus non commodo. Donec aliquet justo neque, eget sollicitudin nulla placerat eu. Nam congue varius massa non semper. Pellentesque nisi magna, tempor at ullamcorper non, dignissim in erat. Fusce turpis elit, aliquet at ultricies et, suscipit vitae nisl. Phasellus sed scelerisque ligula. In egestas diam non massa ultricies congue. Nunc mattis magna sapien. Nullam consectetur massa pharetra viverra posuere. Praesent porttitor rutrum tincidunt.

                Quisque interdum dui at molestie condimentum. Nullam rhoncus eros tortor, vel venenatis velit imperdiet vitae. Integer a ipsum neque. Ut vel bibendum metus. Etiam sed porta turpis. Mauris semper dolor libero, sed tempus erat commodo ac. Quisque in semper neque, non rhoncus dolor. Duis sit amet justo eu nibh ultrices euismod ac a dolor. Praesent malesuada urna sem, id fermentum metus lacinia in. Aenean tortor urna, bibendum quis rhoncus eget, elementum vitae turpis. Ut consectetur erat et justo sollicitudin rutrum.

            </p>

            <button type="button" class="btn btn-success" ng-click="liked()">
                <i class="fa fa-thumbs-up fa-2x"></i>
            </button>

            Likes:{{likes}}

            <button type="button" class="btn btn-danger" ng-click="disliked()">
                <i class="fa fa-thumbs-down fa-2x"></i>
            </button>

            Dislikes:{{dislikes}}

            <br/>
            <br/>
            <hr/>

            <div  ng-repeat="comment in comments">
                <h4>{{comment.user}}</h4>
                 <div class="comment">
                     {{comment.comment}}
                 </div>
            </div>


        </div>

        <div class="panel-footer">
            <div class="input-group">
                <input class="form-control" placeholder="Add a comment" ng-model="userComment" type="text">
                    <span class="input-group-addon">
                        <a ng-click="addComment()"><i class="fa fa-edit"></i></a>
                    </span>
            </div>
        </div>

</div>



