<head>
    <script>
        var password = document.getElementById("password")
                , confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</head>

<div class="registration" ng-controller="registrationController" ng-app="myApp">
    <form name="regForm">
        <h4>Name</h4>
        <input type="text" ng-model="name" placeholder="name"
               style="width: 100%;" name = "name" required>
        <h4>Username</h4>
        <input type="text" ng-model="username" placeholder="username"
               style="width: 100%;" name = "username" required>
        <h4>Password</h4>
        <input type="password" ng-model="password" name = "password" placeholder="Password" id="password" style="width: 100%;"required>
        <h4>Re-type Password</h4>
        <input type="password" placeholder="Confirm Password" id="confirm_password" style="width: 100%;" required>
        <div style="padding-top: 25px">
            <button type="submit" style="width: 100%;" ng-click="register(regForm)"
                    class="btn btn-success" style="margin-bottom: 10px;">Register
            </button>
        </div>
    </form>
</div>


