
    <form>
        <h4><label>Name</label></h4>
        <input type="text" ng-model="name" placeholder="name">
            <h4><label>Username</label></h4>
            <input type="text" ng-model="username" placeholder="username">
            <h4><label>Password</label></h4>
            <input type="password" ng-model="password" placeholder="password">
             <h4><label>Re-Enter Password</label></h4>
            <input type="password" ng-model="passwordValidate" placeholder="reEnter password" >
        <button type="submit"  ng-click="login()" class="btn btn-success">Register</button>

        <button ng-click="postTest()" style="display: none">TEST</button>
    </form>



