a{
  color: #344040;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  color: black;
}

body{
  background-color: #fff;
  background-size: 100% 1.2em;
  -webkit-linear-gradient(#eee .05em, transparent .05em);
  background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  -moz-linear-gradient(#eee .05em, transparent .05em);
  background-image: linear-gradient(90deg, transparent 79px, #abced4 81px, transparent 81px),
  linear-gradient(#dcfdff .1em, transparent .1em);
  linear-gradient(#dcfdff.1em, transparent .1em) 0 0 / 100% 1.2em #fff;
}

.logo{

  font-size: 300%;

}

.amatic{

  font-family: 'Amatic SC', cursive;

}

.main-wrapper{
  width: 75%;
  margin: 0 auto;
}

.progress{
  background-color: #d9534f;
}

.noColor{
  background-color: gainsboro !important;
}

.comment{
  background-color: #bbe3f3;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.company-name{
  font-size: 300%;
}

.company-list{
  width: 50%;
  margin: 0 auto;
}

.company-header:hover{
  background-color: #bbe3f3;

}