a{
  color: #344040;
}
a:hover{
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
  color: black;
  background-color: #bbe3f3;
}

body{
  /*background-color: #fff;
  background-size: 100% 1.2em;
  -webkit-linear-gradient(#eee .05em, transparent .05em);
  background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  -moz-linear-gradient(#eee .05em, transparent .05em);
  background-image: linear-gradient(90deg, transparent 79px, #abced4 81px, transparent 81px),
  linear-gradient(#dcfdff .1em, transparent .1em);
  linear-gradient(#dcfdff.1em, transparent .1em) 0 0 / 100% 1.2em #fff;*/
  background-color: #bbe3f3 ;
  padding: 70px 0 0 0;

}

.logo{

  font-size: 300%;
  color: #283131;

}

.logo:hover{
  color: black;
}

.amatic{

  font-family: 'Amatic SC', cursive;

}

.main-wrapper{
  width: 75%;
  margin: 0 auto;
}

.progress{
  background-color: #d9534f;
  margin:0;
  padding: 0;
  height: 40px;
}

.noColor{
  background-color: gainsboro !important;
}

.comment{
  background-color: #ececec;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.company-name{
  font-size: 300%;
}



.company-header:hover {
  background-color: #283131;
  color: white;
  border-color: #283131;
}


.company-header{
  border-radius: 20px;
}

.product:hover {

  background-color: #5bc0de;
  cursor: pointer;
  cursor: hand;

}

.rounded-panel{
  border-radius: 20px;
}

.sidebar{
  margin-left: 0;
  height: 100%;
  width: 25%;
  overflow-y: auto;
  position: fixed;

}

.custom-heading{
  margin: 0;
  padding: 0;
  height: 40px;
}

.shadow {
  -moz-box-shadow:    1px 1px 2px 2px #ccc;
  -webkit-box-shadow: 1px 1px 2px 2px #ccc;
  box-shadow:         1px 1px 2px 2px #ccc;
}

.custom-row{
  margin: 0;
  padding-left: 0;

}
